* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.nav-links a {
    text-decoration: none;
    color: #C7CAD0;
    font-size: 18px;
    padding-left: 32px;
}

.hero-section {
    background-color: #1F2937;
    padding: 16px 192px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-section {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#text-intro {
    max-width: 350px;
    font-size: 48px;
    font-weight: 900;
}

#secondary-text {
    font-size: 18px;
    margin-bottom: 8px;
    max-width: 450px;
}

.welcome-section {
    display: flex;
    justify-content: space-between;
    padding: 96px 0;
}

.text-section input {
    max-width: 136px;
    background-color: #3B82F6;
    color: #fff;
    padding: 8px 20px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
}

.image-section img {
    box-shadow: 0 0 80px -24px #3B82F6;
    border-radius: 12px;
    border: none;
}

