* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.nav-links a {
    text-decoration: none;
    color: #C7CAD0;
    font-size: 18px;
    padding-left: 32px;
}

.hero-section {
    background-color: #1F2937;
    padding: 16px 192px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-section {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

#text-intro {
    max-width: 350px;
    font-size: 48px;
    font-weight: 900;
}

#secondary-text {
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 8px;
    max-width: 450px;
}

.welcome-section {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
    padding: 96px 0;
}

.text-section input {
    max-width: 136px;
    background-color: #3B82F6;
    color: #fff;
    padding: 8px 20px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
}

.image-section img {
    box-shadow: 0 0 80px -24px #3B82F6;
    border-radius: 12px;
    border: none;
}

/* section 2 */

#content-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin: 48px 0;
}

.content {
    display: flex;
    flex-direction: column;
}

.information {
    display: flex;
    margin-bottom: 96px;
    justify-content: center;
    gap: 48px;
}

.information p {
    max-width: 170px;
    color: #1F2937;
    font-size: 18px;
    text-align: center;
}

.film-poster {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.film-poster img {
    border-radius: 12px;
    border: none;
    box-shadow: 0 0 80px -24px #1F2937;
}

.quote {
    background-color: #E5E7EB;
    padding: 120px 368px;
}

#quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

#quoter {
    font-size: 24px;
    font-weight: 700;
    text-align: end;
    margin-right: 40px;
}

.cta {
    background-color: #3B82F6;
    margin: 96px 192px;
    padding: 64px 176px;
    border-radius: 12px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.cta input {
    color: #fff;
    background-color: #3B82F6;
    border: 2px solid #fff;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    padding: 6px 28px;
}

#primary-cta {
    font-size: 28px;
    color: #fff;
    font-weight: 700;
    max-width: 600px;
}

#secondary-cta {
    color: #DAE0EC;
    font-size: 20px;
    max-width: 600px;
}

.footer {
    background-color: #1F2937;
    padding: 40px;
}

#copyright {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #F4F4F5;
}